<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Sistema de reserva de salas" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Reserva de salas', home_index_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
     <% if usuario_signed_in? %>
      <li><%= link_to "Bem vindo(a), #{current_usuario.nome_completo}", "#" %></li>
      <li>
      <%= link_to('Sair', destroy_usuario_session_path, :method => :delete) %>        
      </li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
     
      
      
    </ul>
  </section>
</nav>
<div class="row" align="center">
    <%= yield %>
</div>
  </body>
</html>
